.dart_tool/
.buildlog/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/

ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

*.iml
*.ipr
*.iws

.DS_Store

.metadata

android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
*.keystore